{% extends "base.html" %} {% block title %} Renommeur {% endblock title %} 
{%block content %}
<br />
<h3 align="center">
  Selectionnez une ou des vidéos à renommer et sélectionnez le(ur) type.
</h3>
<br />
<form method="POST">
  <label for="pickfiles">Fichier(s) vidéo(s)</label>
  <div class="form-group">
    <input
      multiple
      type="file"
      accept="video/*,.mkv,.mp4"
      class="form-control-file"
      id="pickfiles"
      name="pickfiles"
    />
  </div>
  <div class="form-group">
    <label for="renaming_type">Type</label>
    <select class="form-control" id="renaming_type" name="renaming_type">
      <option>Film</option>
      <option>Série</option>
      <option>Spécial (OAV)</option>
    </select>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Sélectionner</button>
</form>
{% endblock content %}
